---
export interface Recipe {
  id: number;
  name: string;
  ingredients: string[];
  steps: string[];
  author: string;
}
const { recipe } = Astro.props as { recipe: Recipe };
---

<div
  class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 overflow-hidden transform transition duration-300"
>
  <img
    class="w-full h-48 object-cover"
    src={`/img/${recipe.id}.webp`}
    alt={recipe.name}
  />
  <div class="p-5">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {recipe.name}
    </h5>
    <hr class="my-3 border-t-0 bg-neutral-100 dark:bg-white/10" />
    <h2 class="text-gray-900 dark:text-gray-300 font-semibold text-lg">
      Ingredientes:
    </h2>
    <ul class="text-gray-700 dark:text-gray-400 list-disc list-inside">
      {
        recipe.ingredients.map((ingredient) => (
          <li class="text-sm">{ingredient}</li>
        ))
      }
    </ul>
    <hr class="my-3 border-t-0 bg-neutral-100 dark:bg-white/10" />
    <h2 class="text-gray-900 dark:text-gray-300 font-semibold text-lg">
      Preparación:
    </h2>
    <ul class="text-gray-700 dark:text-gray-400 list-disc list-inside">
      {recipe.steps.map((step) => <li class="text-sm">{step}</li>)}
    </ul>
    <hr class="my-3 border-t-0 bg-neutral-100 dark:bg-white/10" />
    <p class="text-gray-900 dark:text-gray-300 font-semibold text-base">
      Receta de {recipe.author}
    </p>
  </div>
</div>
